{{ 'team.css' | asset_url | stylesheet_tag }}

<h6 class="team_tag">{{ section.settings.team_tag | escape }}</h6>
<h2 class="team_title">{{ section.settings.team_title | escape }}</h2>
{{ section.settings.team_text }}

{% schema %}
{
  "name": "Section Team",
  "settings": [
    {
      "type": "text",
      "id": "team_tag",
      "label": "Tag",
      "default": "Team"
    },
    {
      "type": "text",
      "id": "team_title",
      "label": "Title",
      "default": "Get Quality Education"
    },
    {
      "type": "richtext",
      "id": "team_text",
      "label": "Text",
      "default": "<p>Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics</p>"
    }
  ],
  "presets": [
    {
      "name": "Section Team",
      "category": "Text"
    }
  ]
}
{% endschema %}
