{{ 'team.css' | asset_url | stylesheet_tag }}

<h2 class="team_title">{{ section.settings.section_title | escape }}</h2>
{{ section.settings.text }}

{% schema %}
{
  "name": "Section Team",
  "settings": [
    {
      "type": "text",
      "id": "section_tag",
      "label": "tag",
      "default": "Team"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Title",
      "default": "Get Quality Education"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "<p>Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics</p>"
    }
  ],
  "presets": [
    {
      "name": "Section Team",
      "category": "Text"
    }
  ]
}
{% endschema %}
